[Desktop Entry]
Name=AutoKey
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Exec=autokey-gtk
Terminal=false
Type=Application
Icon=autokey
Categories=GNOME;GTK;Utility;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=AutoKey
Comment[en_US]=Program keyboard shortcuts
X-GNOME-Autostart-Delay=0